.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 8px 0;
}

.side-nav {
  flex: 0 0 52px !important;
  min-width: 52px !important;
  max-width: 52px !important;
  width: 52px !important;
  background-color: var(--primary-black) !important;
  border-right: 1px solid var(--divider-gray) !important;
}

.side-nav .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

#sidebar-top-menu .ant-menu-item-selected {
  background-color: transparent !important;
}

#sidebar-top-menu .ant-menu-item-selected .ant-menu-item-icon {
  color: var(--accent-secondary);
}
