.ant-collapse-header-text {
  display: inline-block !important;
  flex: none !important;
  margin-inline: 0 !important;
}

.ant-collapse-header-text {
  background-color: var(--accent-secondary) !important;
  padding: 8px !important;
  border-radius: 8px !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
}

.ant-collapse-header {
  align-items: center !important;
}

.expandIcon {
  transition: all 300ms ease-in-out;
  transform: rotate(90deg) !important;
}

.expandIconActive {
  transition: all 300ms ease-in-out;
  transform: rotate(0deg) !important;
}

.ant-collapse-content-box {
  background: linear-gradient(
    180deg,
    #ffffff 15.85%,
    rgba(226, 239, 248, 0.83) 99.87%
  );
  padding-top: 4px !important;
  padding: 0px !important;
}

*::-webkit-scrollbar {
  display: none;
}
