@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.ant-layout-header {
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-header {
    padding: 0 50px;
}

.ant-modal-content, .ant-modal-header, .ant-btn {
    border-radius: 8px;
}

.ant-picker-range {
    width: 100%;
}